#haleakalaHero{
  background-image: url('./Pahana4.jpg');
}
#hanaHero{
  background-image: url('./images/location/blackSand.jpg');
}
#bambooHero{
  background-image: url('./images/location/bamboo.jpg');
}
#paiaHero{
  background-image: url('./images/location/paia.jpg');
}
