body{
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 8vh;
  font-size: 2rem;
  text-decoration: none;
  align-items: center;
  margin: 0;
  border: none;
  padding: 0;
}

.container li{
  text-decoration: none;
  color: white;
  list-style: none;
  cursor: pointer;
}

/*------------Hero Banner-----------*/
.homeItem{
  width: 100%;
  margin: 0;
}

.heroBanner{
  background-image: url("./overView.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center-center;
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.intro{
  display: flex;
  height: 15vh;
  opacity: 0.4;
  color: #B27000;
}
/*------------End Hero-banner---------*/

/*--=---------Start overView-------------*/

.overView{
  height: 100vh;
  width: 100%;
  background-image: url('./sand_gray.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

}
.overViewSection{
  margin: 0;
  width: 60%;
  color: lightGray;
}

/*---------End OverView----------*/

/*---------Start PictureTabs-----------*/
.pictureTabs{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.pictureContainer{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.pictureContainer img{
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  transition: .5s ease;
  background-color: black;
  color: gray;
  word-wrap: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.trigger{
  position: absolute;
  width: 100%;
  height: 25%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

}
.text{
  color: white;
  font-size: 5vh;
  opacity: 1;
  width: 75%;
}


/*.pictureContainer{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}
#pictureAbout{
  background-image: url('./mainHouse.jpg');
}

#pictureLocation{
  background-image: url('./haleakala_crater.jpg');
}
#pictureAccommodations{
  background-image: url('./concierge.jpg');
}
#pictureAmenities{
  background-image: url('./pool.jpg');
}

/*------Before major edits css---------
.pictureTabs{
  display: flex;
  flex-direction: column;
  background-color: blue;
}
.pictureTabs img{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
*/
/*---------End PictureTabs----------*/
