.heroBanner{
  background-image: url('./images/location/turtleLarge.jpg');
  background-size: cover;
}

.locationIntro{
  padding: 3% 0;
}

.locationContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.locationContainer h1{
  width: 100%;
  color: white;
  text-align: center;
}

.locationIntro h1, .locationIntro p{
  color: white;
  width: 60%;
  margin: 0 auto;
  padding: 1% 0;
  position: relative;
}

.locationIntro h1:after{
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 0.25px solid white;
}

.discoverImage{
  width: 25vw;
  height: 18vw;
}
