body, html{
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('./images/sand_gray.jpg');
}

a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: white;
}
ul{
  list-style-position: inside;
}
/*Text CSS*/

.textCenter{
  text-align: center;
}
.pageText, p{
  font-size: 1.2vw;
}
.header1, h1{
  font-size: 5vw;
}
.header2{
  font-size: 3vw;
}
.textWidth{
  width: 30vw;
}
/*End Text CSS*/
/*Display CSS*/
.flexColumn{
  display: flex;
  flex-direction: column;
}
.flexRow{
  display: flex;
}
.flexCenter{
  justify-content: center;
  align-items: center;
}
.spaceAround{
  justify-content: space-around;
}
.spaceBetween{
  justify-content: space-between;
}
.justifyEnd{
  justify-content: flex-end;
}
.flexColumnCenter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexRowCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignCenter{
  align-items: Center;
}
.alignEnd{
  align-items: flex-end;

}
.centerDiv{
  margin: 0 auto;
}
.flexWrap{
  flex-wrap: wrap;
}
/*Used to match width of container, whether it's to the body or to parent div*/
.autoWidth{
  width: auto;
}
.fullWidth{
  width: 100%;
}
.threeQuarters{
  width: 75%;
}
.halfWidth{
  width: 50%;
}
.fortyWidth{
  width: 40%;
}
.thrityPercent{
  width: 30%;
}
.ninetyWidth{
  width: 90%;
}
.oneToOne{
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.green{
  background: #54695A;
}
.gray{
  background: #696969;
}
.verticalLine:after{
  content: '';
  position: absolute;
  width: 1px;
  height: 40%;
  right: -8%;
  top: 0;
  background: white;
}
.borderRight{
  border-right: 1px solid white;
}
.line:after{
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 0.25px solid white;
}
.shortLine:after{
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 0.25px solid white;
}
.fullLine:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 0.25px solid white;
}

.images:after {
  content: "";
  flex: 1 1 100%;
  max-width: 30%;
}
.relative{
  position: relative;
}
.background{
  background: green;
}
/*To match images and text to the same height. Make it flush with each other*/
.matchingHeight{
  height: 30vw;
}
.fitCover{
  object-fit: cover;
}
/*End Display CSS*/
/*Accommodations*/
.twentyfive{
  width: 25%;
  height: auto;
}
.thirty{
  /* width: 30vw; */
  /* height: 30vw; */
  width: 33vw;
  height: 25vw;
  object-fit: cover;
}
.positionLeft{
  object-position: 25% 0;
}
/*End Accommodations*/
/*Margin and Padding*/
.twoHorizontalMargin{
  margin: 0 2%;
}
.twoVerticalMargin{
  margin-top: 2%;
  margin-bottom: 2%;
}
.fiveVerticalMargin{
  margin-top: 5%;
  margin-bottom: 5%;
}
.twoMarginBottom{
  margin-bottom: 2%;
}
.twoMarginTop{
  margin-top: 2%;
}
.twoVerticalPadding{
  padding-top: 2%;
  padding-bottom: 2%;
}
.twoMarginLeft{
  margin-left: 2%;
}
.twoMarginRight{
  margin-right: 2%;
}
.fiveVerticalPadding{
  padding-top: 5%;
  padding-bottom: 5%;
}
.twoPaddingBottom{
  padding-bottom: 2%;
}
.twoHorizontalPadding{
  padding-left: 2%;
  padding-right: 2%;
}
.twoPaddingTop{
  padding-top: 2%;
}
.fivePaddingBottom{
  padding-bottom: 5%;
}
.onePadding{
  padding: 1%;
}
/*-----------Activities CSS---------------*/
.threeMarginLeft{
  margin-left: 3%;
}
.threeMarginRight{
  margin-right: 3%;
}
.matchingImage{
  height: 24vw;
}
.activityHeight{
  height: 50vw;
}
/*-----------End Activities CSS---------------*/
/*End Margin and Padding*/
/*Button Styling*/
.buttonWidth{
  width: 15vw;
}
.largeButtonWidth{
  width: auto;
}
.buttonBackground{
  background-image: url('./images/sand_gray.jpg');
  border: 2px solid white;
  color: white;
}
/*End Button Styling*/



.parallax{
  height: 90%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  color: white;
  position: absolute;
  background: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  font-size: 1.1vw;
  font-weight: bold;
  top: 1%;
}

.nav li{
  width: auto;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;

}

.logo{
  position: absolute;
  top: 1%;
  right: 1%;
}

/* .navbar-item:hover:after{
  content: "";
  background: orange;
  border-bottom: 2px solid orange;
  width: 10%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
} */

.underline{
  position: relative;
}
.underline:after{
  content: "";
  color: orange;
  background-color: orange;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  /* transition: .2s ease-in; */
}
.underline:hover:after{
  width: 100%;
  right: 0;
}
.current:after{
  content: "";
  color: white;
  background-color: white;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/*------------Hero Banner-----------*/
.homeItem{
  width: 100%;
  color: white;
}

.heroBanner{
  background-image: url("./images/location/overView.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  width: 100%;

}

.intro{
  display: flex;
  height: 10vh;
  opacity: 0.7;
  color: #B27000;
  font-size: 4vw;
}

/*-----------Overview Section---------*/
.overView{
  display: flex;
  align-items: center;
  padding: 5% 0;
}
.overViewSection{
  width: 60%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*-----------End Overview Section---------*/

/*-----------Discover Section-----------*/
.discoverContainer, .container{
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.discoverContainer h1, .container h1{
  margin: 0 auto;
  padding: 3% 0 3% 0;
}
.discoverHeader, .header{
  display: flex;
  width: 100%;
  justify-content: center;
  background: #54695A;
}
.discoverHeaderItem, .headerItem{
  width: 50%;
  padding: 5% 0;
}
.discoverHeaderItem h2, .discoverHeaderItem p, .headerItem h2, .headerItem p{
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 2% 0;
}
.discoverHeaderItem h2:after, .headerItem h2:after, .itemText h2:after{
  /* content: '';
  bottom: 0;
  height: 5px;
  width: 50%;
  border-bottom: 1px solid white; */
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  bottom: 0;
  left: 0;
  border-bottom: 0.25px solid white;
}
.discoverLeft{
}
.discoverRight{
  background: #696969;
}
.discoverHeaderItem h2{
  /* border-bottom: 0.5px solid white; */
}
.discoverContainer p{
  font-size: 1vw;
}

.discoverImageContainer{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
}
.discoverImage{
  width: 33.3333%;
  height: 26vw;
  position: relative;
}
.discoverImage img{
  width: 100%;
  height: 100%;
}

.overlay{
  display: flex;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  font-size: 1.5vw;
  text-align: center;
}
.image:hover .overlay{
  opacity: 0.8;
  visibility: visible;
}
.overlay a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discoverItem p {
  display: none;
}

/* .food{
  object-fit: cover;
  object-position: center;
} */

/*-----------End Discover Section-----------*/

/*-----------Pahana Section-----------*/


.pahanaContainer *{
  margin: 0;
  padding: 0;
}
.pahanaHeader{
  padding: 3vw 0;
  margin-bottom: 5%;
}

.pahanaImageContainer{
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 0 auto;
  position: relative;
}
.containerItem{
  display: flex;
  height: 40vw;
}
.itemImage, .itemText{
  width: 50%;
  position: relative;
}
.itemImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.itemText{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.itemText h2, .itemText p{
  width: 75%;
  margin-top: 5%;
}
.itemText h2:after{
  width: 30%;
}
.bungalowImage img{
  width: 60%;
  height: 60%;
}
.poolHouse img{
  width: 60%;
  height: 60%;
}
.itemImage img{
  width: 60%;
  height: 60%;
}
.topLeft{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
}
.bottomRight{
  position: absolute;
  right: 0;
  bottom: 0;
  /* opacity: 0.7; */
}
.topRight{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.8;
}
.bottomLeft{
  position: absolute;
  bottom: 0;
  left: 0;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  /* width: 22.5vw; */
  /* height: auto; */
  font-size: 7vw;
  user-select: none;
  /* background: rgba(120,120,120,0.1); */
  /* color: rgb(92,142,180); */
}
.prev:hover, .next:hover{
  color: rgb(92,142,180);
}
.prev, .next{
  /* bottom: -13.5%; */
}
.prev{
  /* left: -5%; */
  left: -10vw;
}
.next{
  right: -10vw;
  /* right: -5%; */
}

/* The dots/bullets/indicators */
.dots{
  display: flex;
  position: absolute;
  bottom: -5vw;
  left: 50%;
  transform: translate(-50%, 0);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(92,142,180);
}
/*-----------Pahana Section-----------*/
/*-----------CTA Section----------*/
.CTA{
  /* height: 10vw;
  height: 20vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vw;
  margin-top: 20vh;
  background: #54695A;
  color: white;
  padding-top: 3%;
}
.CTA:after{
  content: "";
  background-color: white;
  width: 30%;
  margin: 3% auto;
  height: 2px;
}
.CTA form{
  display: flex;
  flex-direction: column;
}
.CTA button{
  padding: 0;
  width: 5vw;
}
/*-----------End CTA Section----------*/
/*-----------Footer-----------*/
.footer{
  /* height: 10vw;
  height: 15vh; */
  background: #54695A;
  margin-top: auto;
  display: flex;
  /* flex-direction: column;
  justify-content: flex-end; */
  justify-content: space-around;
  padding-bottom: 1%;
}
.footerItem{
  width: 40%;
}
.socialMedia{
  display: flex;
  justify-content: flex-end;
}
/*-----------End Footer-----------*/
/*-----------Add-on classes------------*/
.front{
  z-index: 5;
}
.back{
  z-index: 1;
}
/*-----------End Add-on classes------------*/
